body {
    background-color: #262223;
    color: #black;
	font-family: sans-serif;
	
}

header {
    background-color: #262223;
}

footer {
    background-color: #86A6B4;
    color: #000000;
	text-align: center;
	font-style: italic;
	font-size: .60em;
	padding: 10px;
	
}

li {
	padding-top: 10px;
	padding-bottom: 10px;	
}

footer:link {color: #2E0000;}
footer:visited {color: #000000;}
footer:hover { color: #F5F5DC;}

nav {
	font-weight: bold;
	text-align: center;
	width: 160px;
	float: left;
	padding: 10px;
	transition: background-color 3s ease-out;
}

nav a {
	text-decoration: none;
}

nav:link {color: #795240;}
nav:visited {color: #A58366;}
nav:hover { color: #F5F5DC;}

h1 {
	font-family: Georgia;
	margin-bottom: 0;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	height: 100px;
	background-image: url(boblogo.jpg);
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

h2 {
	font-family: Georgia;
}

dt {
	font-weight: bold;
}

ul { 
	list-style-type: none;
	padding-left: 0;
	
}


#wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #86A6B4;
	min-width: 960px; 
	max-width: 2048px;
	
}

main {
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	display: block;
	margin-left: 175px;
	background-color: #E2E8E5;
}

#main img {
	float: left;
	padding-right: 2em;
}

#main ul {
	List-style-image: url(marker.gif);
	list-style-position: inside;
}

#main div {
	overflow: auto;
	font-size: 90px;
	padding-left: 5%;
	padding-right: 5%;
}
#hero {
	height: 680px;
	color: #black;
	background-size: 100% 100%;
	background-repeat: no-repeat;		
}


section {
	overflow: auto;
	font-size: 90%;
	
}

table {
	margin: auto;
	width: 80%;
}

td, th {
	padding: 10px;
}

tr {
    font-size: 200px;
}

tr:nth-of-type(odd) {
}

header, main, nav, footer, figure, figcaption, aside, section, article {display: block; }

#mobile { display: none;
}

#desktop { display: inline;
}

label {
	float: left;
	display: block;
	text-align: right;
	width: 120px;
}

input, textarea {
	display: block;
	margin-bottom: 20px;
}

input[type="submit"] {
	margin-left: 130px;
}


@media only screen and (max-width: 64em) {
	body { margin: 0;
		background-color: #D2B48C;
		background-image: none; }
	#wrapper { min-width: 0;
		width: auto;
		box-shadow: none; }
	h1 { margin: 0;
		background-image: url(javalogomobile.gif); }
	main { margin-left: 0; }
	nav { float: none;
		width: auto;
		padding: 0; }
	nav ul { text-align: center; }
	nav li { display: inline;
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0.75em;
		padding-right: 0.75em; }
}

@media only screen and (max-width: 37.5em) {
	nav li { display: inline-block;
		width: 5em;
		font-size: 120%;
		text-align: center;
		box-shadow: 2px 2px 2px #330000;
		background-color: #F5F5DC;
		margin: 1%;
		padding: 2.5%; }
	section { margin: 0; }
	img { display: none; }
	#hero { height: auto; }
	#mobile { display: inline; }
	#desktop { display: none; }	
	label { float: none; text-align: left; }
	input[type="submit"] { margin-left: 0; }
}
